__pycache__/
*.pyc
.ipynb_checkpoints/

.env
venv/
.venv/
.streamlit/secrets.toml

data/raw/
data/processed/
data/ui/*.csv
outputs/*
!outputs/README.md

models/*.pt
models/*.pth
models/*.pkl
models/*.joblib

*.npy
*.npz

.DS_Store
Thumbs.db
